{{ define "footer" }}
<footer class="bg-surface border-t border-border px-6 py-1.5 flex justify-between items-center shrink-0 z-50">     
    <div>
    </div>
    <div class="flex items-center gap-1.5 text-sm text-slate-400">
        <span>Powered by</span> 
        <a href="https://cloudrocean.com/" target="_blank" rel="noopener noreferrer" >
            <img src="/static/CloudROceanLogo512px.png" alt="Logo" class="h-12 w-12 object-contain" />
        </a>
        <!-- <a href="https://cloudrocean.com/" target="_blank" rel="noopener noreferrer" class="text-primary hover:text-blue-400 hover:underline transition-all font-medium">
        CloudROcean
        </a> -->
    </div>
    </footer>
{{ end }}